{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>代理商</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
					<div  class="col-sm-2" style="width: 100px">
						<div class="input-group" >  
							<a href="{:url('add_agent')}"><button class="btn btn-outline btn-primary" type="button">添加代理商</button></a> 
						</div>
					</div>                                    
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('agent')}">
						<div class="col-sm-2">
                            <div class="input-group">
								<select class="form-control m-b chosen-select" name="group_id" id="group_id">
                                    <option value="">==请选择类型==</option>
                                    {if !empty($group)}
                                        {foreach name="group" item="vo"}
                                            <option value="{$vo.id}" {if condition="$group_id eq $vo['id']"}selected{/if}>{$vo.group_name}</option>
                                        {/foreach}
                                    {/if}
                                </select>
							</div>
						</div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" id="key" class="form-control" name="key" value="{$val}" placeholder="输入需查询的登录账号/手机号/名称" />   
                                <span class="input-group-btn"> 
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button> 
                                </span>
                            </div>
                        </div>
                    </form>                         
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>代理商名称</th>
								<th>类型</th>
                                <th>手机号</th>
                                <th>登录账号</th>
								<th>可用提现金额</th>
								<th>待结算金额</th>
								<th>总收益</th>
								<th>已提现金额</th>
								<th>活跃次数</th>
								<th>上级</th>
                                <th>创建时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if(empty($list)):?>
                                <tr><td colspan="11" align="center">暂无数据</td></tr>
                            <?php else:?>
                            <?php foreach($list as $vo):?>
                            <tr>
                                <td>{$vo.real_name}</td>
								<td>{$vo.group_name}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.money}</td>
                                <td>{$vo.d_money}</td>
                                <td>{$vo.z_money}</td>
                                <td>{$vo.w_money}</td>
                                <td>{$vo.loginnum}</td>
								<td>{$vo.prev_agent}</td>
                                <td>{:date('Y-m-d H:i:s',$vo.create_time)}</td>
                                <td>{:$status[$vo['status']]}</td>
                                <td>
                                    <a href="javascript:;" onClick="edit_agent({$vo.id})" class="btn btn-primary btn-xs btn-outline">编辑</a>&nbsp;&nbsp;
									 <a href="javascript:;" onClick="agent_account({$vo.id})" class="btn btn-primary btn-xs btn-outline">资金明细</a>&nbsp;&nbsp;
									 <a href="javascript:;" onClick="agent_member({$vo.id})" class="btn btn-primary btn-xs btn-outline">推广会员</a>&nbsp;&nbsp;
                                </td>
                            </tr>
                            <?php endforeach;?>
                            <?php endif;?>
                            
                        </tbody>
                                                   
                                    

                    </table>
                    <div id="AjaxPage" style="text-align:right;"></div>
                    <div style="text-align: right;">
                          {$list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{include file="public/footer" /}

<script type="text/javascript">
  
	//查看明细
	function edit_agent(id){
		location.href = './edit_agent/id/'+id+'.html';
	}
	
	//查看明细
	function agent_account(id){
		location.href = './agent_account/id/'+id+'.html';
	}
	
	//查看明细
	function agent_member(id){
		location.href = './agent_member/id/'+id+'.html';
	}
	

	function AjaxPage(curr){
		$(".form-search").append('<input type="hidden" name="page" id="page" value="'+curr+'">');
		$('.form-search').submit();
    }

</script>
</body>
</html>